table {
    border-collapse: collapse;
    width: 100%;

}
td {
    width: 50%;
    cursor: pointer; 
}

table, th, td {
        border-bottom: 1px solid black;
}
button.buysell {
    display: inline-block;
    width: 45%;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
}
