table {
    border-collapse: collapse;
    width: 100%;
}
td {
    width: 50%;
}
td.economy{
    padding: 2px 0px;
}

table, th, td {
    border-bottom: 1px solid black;
}

button.buysell {
    display: inline-block;
    width: 49%;
}

input.buysell {
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
}

@media (min-width:0px){
    .fixed {
        position: default;
    }
}
@media (min-width:768px){
    .fixed {
        position: fixed;
    }
}