table {
    border-collapse: collapse;
    width: 100%;
}
td {
    width: 50%;
}
td.economy{
    padding: 0px 0px;
    font-family: "Courier New";
    font-weight: 500;
    min-width: 50px;
}

table, th, td {
    /*border-bottom: 1px solid black;*/
    white-space: nowrap;
}

button.buysell {
    display: inline-block;
    width: 49%;
}

input.buysell {
    width: 100%;
}

.footer {
    background: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
}
.fixed {
/*    overflow-y: visible;
    height: 100%;*/
}
#market {
    /*overflow-x: auto;*/
}

@media (min-width:0px){
    .fixed {
        position: relative;
    }
}
/*@media (min-width:768px){
    .fixed {
        position: fixed;
    }
}*/